body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  background-color: #282c34;
  padding-top: 1em;
  min-height: 100vh; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.clocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-gap: 1em;
  justify-content: center;
  margin-top: 2em;
}


/* general clock styling */
.clock-container {
background-color: inherit; /* #596273;*/
padding: 2px;
text-align: right; /* for delete button. */
} 
.btn {
  background-color: inherit;
  border: none; 
  color: white; /* White text */
  /* padding: 12px 16px; 
  font-size: 16px; */
  cursor: pointer; /* Mouse pointer on hover */
}
.clock {
  border-radius: 10px;
  border: 4px solid white;
  padding: 30px; 
  margin: auto;
}
/* digital clock */
.digital-clock {
  font-family: 'Share Tech Mono', monospace;
  font-size: 28px;
  background-color: #61DAFB;
  color: #282c34;
}
.digital-clock .time {
  font-size: 110%;
  margin-bottom: 2px; 
}
.digital-clock .date {
  font-size: 40%;
}
.digital-clock .timezone {
  font-size: 70%;
}

/* form */
select:focus, input:focus{
  outline: none;
}
select {
  font-size: 65%; 
  height: 1.5em; 
  width: 12em; 
  overflow: hidden;
  margin-right: 1.5em;
  padding-left: 5px;
  background-color:  #596273; 
  color: white;
}

.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px; 
  border-radius: 15px;
}

button, input {
    border: 1px solid #ffffff;
    border-radius: .125em;
    font-size: 65%;
    margin: 0 .25em;
    height: 1.5em;
    background-color: #596273;
    color: white;   
} 
