body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  color: white;
  padding-top: 3em;
  padding-bottom: 1em;
  font-size: 18px;
}

h1 {
  font-size: 54px;
}

.clocks {
  display: grid;
  grid-template-columns: repeat(auto-fit, 320px);
  grid-gap: 1em;
  justify-content: center;
  margin-top: 2em;
}

/* general clock styling */
.clock-container {
  background-color: inherit; /* #596273;*/
  padding: 2px;
  text-align: right; /* for delete button. */
}
.clock-container button,
.clock-container input {
  border: none;
  background-color: inherit;
  border: none;
  color: white;
  cursor: pointer; /* Mouse pointer on hover */
  margin: 2px;
}
.clock {
  border-radius: 10px;
  border: 4px solid white;
  padding: 30px;
  margin: auto;
}

/* digital clock */
.digital-clock {
  font-family: "Share Tech Mono", monospace;
  font-size: 28px;
  background-color: #61dafb;
  color: #282c34;
}
.digital-clock .time {
  text-align: center;
  font-size: 150%;
  font-weight: 900;
  margin-bottom: 2px;
}
.digital-clock .date {
  font-size: 50%;
  text-align: center;
}
.digital-clock .timezone {
  font-size: 90%;
  font-weight: 600;
  text-align: center;
  margin-top: 15px;
}

/* form */
form {
  display: flex;
  justify-content: center;
}

select:focus,
input:focus {
  outline: none;
}

select {
  height: 1.5em;
  width: 12em;
  overflow: hidden;
  margin: 1.5em;
  font-size: 1em;
  padding-left: 5px;
  background-color: #596273;
  color: white;
}

.rounded {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

button,
input {
  border: 1px solid #ffffff;
  border-radius: 0.125em;
  font-size: 1em;
  margin: 1.5em;
  background-color: #596273;
  color: white;
}

@media only screen and (max-width: 600px) {
  .App {
    font-size: 16px;
  }
  form {
    flex-direction: column;
    align-items: center;
  }
  select {
    margin: 0.75em;
  }
  button,
  input {
    width: 25%;
  }
}
